@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
body {
    background-color: #ffffff;
}
.PrincipalContainer {
    background-color: #525e75;
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
}
.PrincipalContainer .textStock {
    display: flex;
    align-items: center;
}
.PrincipalContainer .principalForm {
    padding: 1rem;
    border: none;
    background-color: #ffffff;
    border-radius: 5px;
}
